#############
## Python
#############

*.py[cod]

# Packages
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg
social_blog/social_blog/settings.py
db.sqlite3
Simple_blog/mysite/settings.py
social_blog/social_blog/__pycache__
social_blog/social_blog/__pycache__